[user]
  name  = Andrew Johnstone
  email = andrew@ajohnstone.com
[github]
  user = ajohnstone
[hub]
  protocol = https
[advice]
  statusHints = true
[push]
  config = default
  default = tracking
[rebase]
  autosquash = true
[merge]
  summary = true

[alias]
  d   = diff
  df  = diff
  ds  = diff --staged
  dw  = diff --color-words
  s   = status -s -b
  st  = status
  c   = commit -v
  co  = checkout
  w   = whatchanged --decorate
  wp  = whatchanged --decorate -p
  a   = add -u
  aa  = add -A
  td  = merge --no-ff
  sm  = submodule
  smu = submodule foreach git pull origin master
  ap  = add -u -p
  pr  = "!f() { git fetch origin refs/pull/$1/head:pr/$1 && git co pr/$1; } ; f"
  up  = "!git fetch upstream && git rebase upstream/master"
  l = log --pretty='format:%C(yellow)%h%C(reset) %C(blue)%ad%C(reset) %s%C(red)%d%C(reset) %C(green)%an%C(reset), %C(cyan)%ar%C(reset)' --date=short
